div {
    width: 100px;
    height:100px;
}

.tile {
	background: green;
}

.content {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	padding: 20px 0;
    display: none;
    text-align: center;
}